body{
  
  background-color: #0300357c;
}
h1{
  text-align:center;
}
h1,p{
  text-align:center;
  color:#FFD700; 
}

.container{
  display:flex;
  background-color:rgb(0, 0, 0);
  width: 1200px;
  margin: 80px auto;
  justify-content: center;
  gap: 50px;
}

.container div{
  background-color: rgb(3, 3, 87);
  margin: 10px;
    padding: 20px;
  font-size: 22px;
  content: center;
  
  font-family: "Playfair Display", serif; 
}

footer{
  background-color:black;
  color: red;
}

footer, a{
  background-color: rgb(43, 18, 133);
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2rem;
  text-decoration: none;
}

.social a{
  color: rgb(138, 130, 255);
  margin: 0 1rem;
  font-size:1.2rem;
}